.thumbnail-with-overlay .glyphicon.overlay {
  top: 15px;
  left: 30px;
  font-size: 20px;
  color: light-green;
}

#snapshots div.selected > .glyphicon.overlay {
  display: inline-block;
}

.thumbnail-with-overlay {
  display: relative;
}

.thumbnail-with-overlay  .overlay {
  position: absolute;
}