#snapshots div.selected {
  display: relative;
}

#snapshots .glyphicon.overlay {
  position: absolute;
  top: 15px;
  left: 30px;
  font-size: 20px;
   color: green;
   display: none;
}

#snapshots div.selected > .glyphicon.overlay {
  display: inline-block;
}